<p id="notice"><%= notice %></p>

<h1>Beverages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Identifier</th>
      <th>Amount</th>
      <th>Image url</th>
      <th>Image data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beverages.each do |beverage| %>
      <tr>
        <td><%= beverage.name %></td>
        <td><%= beverage.identifier %></td>
        <td><%= beverage.amount %></td>
        <td><%= beverage.image_url %></td>
        <td><%= beverage.image_data.empty? ? "" : "[BEVERAGE_DATA]" %></td>
        <td><%= link_to 'Show', beverage %></td>
        <td><%= link_to 'Edit', edit_beverage_path(beverage) %></td>
        <td><%= link_to 'Destroy', beverage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beverage', new_beverage_path %>
