<p id="notice"><%= notice %></p>

<p>
  <strong>Human Name:</strong>
  <%= @beverage.name %>
</p>

<p>
  <strong>Identifier Code:</strong>
  <%= @beverage.identifier %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @beverage.amount %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @beverage.image_url %>
</p>

<p>
  <img src="<%= @beverage.image_url %>" style="width: 400px" />
</p>

<p>
  <strong>Image data:</strong>
  <%= @beverage.image_data.to_s.empty? ? "" : "[BEVERAGE DATA]" %>
</p>

<p>
  <strong>Motor:</strong>
  <%= @beverage.motor&.uuid %>
</p>

<%= link_to 'Edit', edit_beverage_path(@beverage) %> |
<%= link_to 'Back', beverages_path %>
