<%= form_with(model: motor) do |form| %>
  <% if motor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(motor.errors.count, "error") %> prohibited this motor from being saved:</h2>

      <ul>
        <% motor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uuid %>
    <%= form.text_field :uuid %>
  </div>

  <div class="field">
    <%= form.label :online %>
    <%= form.check_box :online %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
